@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=McLaren&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=McLaren&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
nav{ 
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

body{ 
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500 !important;
  font-style: normal;
  background-color: rgb(21 114 93 / 1);/*rgb(23 37 84 / 1); */
  flex-direction: column;
  display: flex;

  margin: 0;
  padding: 0;

}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
  }


#features{
    background-color: white;
}

.leads{ 
    font-size: 1.15rem;
}

.button{ 
    border-radius: 50px;
    background-color: rgb(177, 229, 118);
    color: white;
}

#getstarted:hover{
    color: white;
    background-color: rgb(177, 229, 118);
    border: 2px solid rgb(177, 229, 118);
    box-shadow: rgba(144, 185, 96, 0.4) 0 4px 8px, rgba(144, 185, 96, 0.3) 0 7px 13px -3px, rgba(144, 185, 96) 0 -3px 0 inset;
}

.parts{ 
    color: rgb(177, 229, 118)
}

h1{
    font-size: calc(1.5rem + 1.5vw);
    text-wrap: balance;
}
h2{ 
    font-size: calc(1rem + 1.5vw);
}
h3{
    font-size: 0.85rem;
}
h4{
    font-size: 1.25rem;
    color: whitesmoke;
    
}
#apiways h4{
    padding-bottom: 2%;
    
}
#apiways p{
    color: rgb(215, 244, 182);
}

.topvideos video{
    width: 48%;
    height: 50%;
    
}

.one p {
    max-width: 45ch;
}
.apione p {
    max-width: 45ch;
}

.topvideos{ 
    display: flex;
    flex-direction: row !important;
    gap: 4%;
}

@media only screen and (max-width: 1000px) {
    .topvideos{ 
        flex-direction: column !important;
    }
    .topvideos video{
        width: 100%;
        margin-bottom: 10%;
    }
  }

/* languages section */

#rapid{ 
    position: relative;
    height: auto;
    align-items: center;
    transform: translateY(30%);
    
   
}

.languages{
    background-color: rgb(247 246 242 / 1) !important;
    height: auto;
    width: auto;
}

.rapid{
    background-color: rgb(218, 237, 204);
    height: auto;
    width: auto;
}

.two img{
    width: 480px;
    height: 420px;
}


.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 200px;
    padding: 5%;
    text-align: left;
}

.wayswrap{ 
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.one{
    text-wrap:wrap;
    padding-top: 10%;
    padding-left: 100px;
    align-items: center;
}
.one h1{
    font-weight: bold;
}

/* api crud section */
.api-features{ 
    background-color: rgb(217, 241, 199);
}

.apione{ 
    text-wrap:wrap;
    padding-top: 10%;
    align-items: center;
    padding-left: 100px;
}

.apione h1{
    font-weight: bold;
}

.apitwo img{
    width: 480px;
    height: 420px;
}

/* svgs */
svg{
    gap: 500%;
}

.img-svg{
    padding: 0;
    margin: 0;
    max-width: 18%;
    max-height: 100px;
    height: auto; 
    width: auto; 
}

.ncontainer{
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 240, 237);
    height: auto;
}
.news-container{
    flex-direction: row;
    display: flex;
    place-items: center;
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
    justify-content: space-evenly;
}

.nitem{ 
    margin-bottom: 1%;
}


#pricing{
    background: linear-gradient(179.81deg, #f6faff 9.12%, #f6faff 105.61%);
}
   
@media only screen and (max-width: 600px) {
    #price{
        display: none;
    }
    #getstart{
        margin-left: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .wrapper{
        display: grid;
        grid-template-columns: none;
        gap: 3%;
    }
    .one{
        padding-left: 0px;
        max-width: 34ch;
        
    }
    .two img{ 
        width: 100%;
        height: 98%;
    }
    .apione{
        max-width: 35ch;
        padding-left: 0px;
    }
    .apitwo img{ 
        width: 100%; 
        height: 98%;
    }
    #rapid{
        transform: translateY(0);
    }
  }

.footer-container{
    background-color: white;
}

.footer-words{ 
    display: flex;
    text-align: center;
    margin: 0 8% 0 8%;
    height: 100px;
    background-color: aqua!important;
}

.words{
    display: flex;
    align-items: center;
    
}

div.waybox > div {
    border: 5px solid rgb(177, 229, 118); 
    border-radius: 25px;
    padding: 5px;
    
}
